{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

        <section class="header-containor">
            <div class="containor-1">
                <div class="img"><img src="{% static 'images/logo.png' %}" alt="logo"></div>
                <div class="heading"><h1>photography</h1></div>
            </div>
        </section>

        <section>

            <div class="containor">
		
                <div class="content-containor">
                    <h1>{{ post.title }}</h1>
                    <div class="detail"><p>Author: {{ post.author }}</p> <p>Date: {{ post.published_date }}</p></div>
                    <div class="content">
                        <img src="{{ MEDIA_URL }}{{ post.image }}" alt="photo">
                        {% autoescape off %}<p>{{ post.text}}</p>{% endautoescape %}
                        <cite></cite>
                    </div>
                </div>
		

                <div class="sidebar">
                    <aside>
                        <h4>Archives</h4>
                        <div class="archives">
			{% for post in month_post %}
                            <a href="{% url 'blog:post_detail' post.pk %}"><div class="box">
                                <img src="{{ MEDIA_URL }}{{ post.image }}" alt="photo">
                                <div class="archive-content">
                                    <h5>{{ post.title }}</h5>
                                    <div><p>Author: {{ post.author }}</p> <p>Date: {{ post.published_date }}</p></div>
                                </div></a>
                            </div>
			{% endfor %}
                        </div>
                    </aside>
                </div>
            </div>
        </section>
{% endblock %}
