{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
        <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/mdb-n.css' %}">
        <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
<style>

        main {
            margin-top: 3rem;
        }

        .lead {
            text-align: justify;
        }

        @media only screen and (max-width: 768px) {
            .post-title {
                margin-top: 1rem;
            }
        }

        @media only screen and (max-width: 768px) {
            .read-more {
                text-align: center;
            }
        }

        .extra-margin {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .overlay  img{
            width: 690px;
            height: 405px;
        }

        .navbar {
            background-color: #555658;
        }

        footer.page-footer {
            background-color: #555658;
            margin-top: 2rem;
        }

        .no-padding {
            padding: 0px;
        }

        .margin-10px {
            margin: 10px;
        }
    </style>

{% load staticfiles %}

{% load static %}
{{ form.media }}
</head>

<body>

    <main>
        <!--Main layout-->
        <div class="container">

            <!--Page heading-->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1 class="h1-responsive">Dashboard</h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <!--Dropdown dark-->
              <div class="dropdown">

                  <!--Trigger-->
                  <button class="btn btn-elegant dropdown-toggle" type="button" id="dropdownMenu8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign-Out</button>

                  <!--Menu-->
                  <div class="dropdown-menu dropdown-dark">
                      <h5 class="text-center">{{ request.user }}</h5>
                      <a class="dropdown-item text-center" href="{% url 'blog:logout' %}">Log-Out</a>
                  </div>
              </div>
              <!--Dropdown dark-->
              <a href="{% url 'blog:add' %}"><button type="button" class="btn btn-elegant">Add Post</button></a>
                </div>
            </div>
            <!--/.Page heading-->


            <hr>

            <!--First row-->
            {% for post in post_list %}
            <div class="row">
                <!--Featured image-->
                <div class="col-lg-12">
                    <div class=" col-lg-5 view overlay no-padding margin-10px hm-white-light z-depth-1-half">
                        <img src="{{MEDIA_URL}}{{post.image}}" class="img-responsive" alt="">
                        <div class="mask"></div>
                    </div>
                <!-- </div> -->
                <!--/.Featured image-->

                <!--Post excerpt-->
                <!-- <div class="col-lg-5"> -->
                    <a href="#!"><h2 class="post-title">{{post.title}}</h2></a>
                    {% autoescape off %}<p class="lead">{{post.text}}</p>{% endautoescape %}
                    <div class="read-more">
                        <a href="{% url 'blog:edit' post.id %}"><button type="button" class="btn btn-primary">Edit</button></a>
                    </div>
                </div>
                <!--/.Post excerpt-->
            </div>
            
            <!--/.First row-->
            <hr class="extra-margin">           
            {% endfor %}
            <!--Pagination-->
            <nav class="row flex-center">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#!" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#!">1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item"><a class="page-link" href="#!">4</a></li>
                    <li class="page-item"><a class="page-link" href="#!">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#!" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--/.Pagination-->
        </div>
        <!--/.Main layout-->
    </main>

    {% endblock %}